div{ background-color: white}
marquee{background-color: rgb(2, 69, 18);
color: aliceblue;
}
  img{
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 30px;
}
h1,h5,h3{
  text-align: center;
}
h1{
  color: brown;
}

ul{
  padding: 5px;
  margin: 10px;
  text-align: center;
  font-size: large;
  background-color: rgb(244, 139, 168);

}
li{
  display:inline-block;
  margin-right: 50px;
}
